site_name: Hudson
site_description: Build multi-modal data applications with ease.
site_url: https://hudson.corletti.xyz

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: slate
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github-alt
    logo: material/sail-boat
    favicon: material/sail-boat

repo_name: anthonycorletti/hudson
repo_url: https://github.com/anthonycorletti/hudson
edit_uri: ""

nav:
  - Welcome: index.md
  - Quickstart: quickstart.md
  - Examples:
      - Text: examples/text.md
      - Tabular: examples/tabular.md
      - Images: examples/images.md
      - Audio: examples/audio.md
  - Building Workflows: building-workflows.md
  - Development & Contributing: contributing.md
  - Release Notes: release-notes.md

markdown_extensions:
  - toc:
      title: On this page
      permalink: true
  - markdown.extensions.codehilite:
      guess_lang: false
  - admonition
  - codehilite
  - extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format ""
  - pymdownx.tabbed:
      alternate_style: true
  - mdx_include:
      base_path: docs
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  # analytics:
  #   provider: google
  #   property: GA-PROPERTY-ID
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/anthonycorletti/hudson
    - icon: fontawesome/solid/globe
      link: https://hudson.corletti.xyz
