[build-system]
requires = [
    "setuptools >=65.0",
    "wheel >=0.36.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "hudson"
authors = [{name = "Anthony Corletti", email = "hudson@example.com"}]
dynamic = ["version", "readme", "license"]
description = "hudson"
requires-python = ">=3.10"
dependencies = []

[project.optional-dependencies]
test = [
    "pytest>=6.2.5",
    "coverage>=6.1.1",
    "pytest-cov>=3.0.0",
]
dev = [
    "mypy>=0.910",
    "black>=21.10b0",
    "ruff>=0.0.98",
    "pre-commit>=2.17.0",
]

[project.urls]
Documentation = "https://github.com/anthonycorletti/hudson"

[tool.setuptools.dynamic]
version = {attr = "hudson.__version__"}

[tool.ruff]
line-length = 88
ignore = [
    "D10",
    "D415",
]
target-version = "py310"
extend-select = ["D"]
extend-ignore = [
    "D203",
    "D204",
    "D213",
    "D215",
    "D400",
    "D404",
    "D406",
    "D407",
    "D408",
    "D409",
    "D413",
]
